@import './messages.scss';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


:root {
    --dark-purple: #16001eff;
    --glaucous: #7180acff;
    --light-blue: #a8d0dbff;
    --red-crayola: #ed254eff;
    --naples-yellow: #f9dc5cff;
    --primary: #212121;
    --primary-light: #2f2f2f;
    --primary-lighter: #585858;
    --primary-dark: rgb(28, 28, 28);
    --primary-darker: #000000;
    --secondary: #ff6f00;
    --secondary-light: #ffa040;
    --secondary-dark: #c43e00;
    --alert-success: #d4edda;
    --alert-primary: #585858;
    --alert-secondary: #ffa040;
    --alert-success: #d4edda;
    --alert-danger: #851a24;
    --alert-warning: #fff3cd;
    --alert-info: #d1ecf1;
    --alert-light: #fefefe;
    --alert-dark: #d6d8d9;

    $device-min-small: 0px;
    $device-min-medium: 600px;
    $device-min-large: 992px;
    $device-min-xlarge: 1200px;

    --font-primary: "Segoe UI", -apple-system, Ubuntu, Tahoma, Geneva, Verdana, sans-serif;
    --font-secondary: "Cairo", -apple-system, Ubuntu, Tahoma, Geneva, Verdana, sans-serif;

    --duration-short: 100ms;
    --duration-normal: 150ms;
    --duration-long: 300ms;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--font-primary);
    background-color: var(--primary);
    color: white;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

*,
::after,
::before {
    box-sizing: border-box;
}


a {
    color: var(--secondary-light);
    text-decoration: none;

    &:hover {
        color: var(--secondary-dark);
        text-decoration: underline;
    }
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition-property: border, background-color, color;
    transition-duration: var(--duration-normal);
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

@media (min-width: 600px) {
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    ::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #ffffff;
        border-radius: 0px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--secondary);
    }

    ::-webkit-scrollbar-thumb:active {
        background: var(--secondary-dark);
    }

    ::-webkit-scrollbar-track {
        background: #666666;
        border: 0px none #ffffff;
        border-radius: 0px;
    }

    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    ::-webkit-scrollbar-track:active {
        background: #333333;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }
}