li {
    list-style: none;

    &:first-child {
        margin-top: 30px;
    }

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    &:last-child {
        margin-bottom: 1em;
    }

    blockquote {
        margin: 0px;
        border-radius: 8px;
        position: relative;
    }
}

li.connect-message {
    font-family: var(--font-secondary);
    font-weight: 400;
    align-self: center;

    blockquote {
        padding: 0.2em 0.8em;
        font-size: 10pt;
        background-color: var(--primary-lighter);
        color: white;

        .timestamp {
            align-self: flex-end;
            font-size: 8pt;
            margin-left: 0.5em;
            color: rgba(255, 255, 255, 0.6);
        }
    }
}

